#app{
    display: flex;
    justify-content: center;
    align-items: center;


}

.wrapper{
    width: 300px;
    margin: auto;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 1rem;
}